/*通用样式*/
html {
	font-size: 10px;
	font-family: PingFang-SC-Regular;
}
ul,ol {
	list-style: none;
	margin: 0;
	padding: 0;
}
a {
	color: #000;
}
em {
	font-style: normal;
}
.bg-f {
	background: #fff;
}
.bg-red {
	background: #D11426!important;
}
.mt2 {
	margin-top: 2rem;
}


/*首页*/
.index-header {
	height: 4rem;
	width: 100%;
}
.index-header a{
	display: block;
	width: 50%;
	float:left;
	font-size: 1.5rem;
	font-weight: bold;
	height: 4rem;
	line-height: 4rem;
	position: relative;
}
.index-header a:first-child {
	text-align: right;
	padding-right: 2rem;
}
.index-header a:last-child {
	padding-left: 2rem;
}
.index-header a.active {
	color: #0BBE06;
}
.index-header a:after {
	position: absolute;
	content: '';
	width: 1.4rem;
	height: .3rem;
	border-radius: .5rem;
	background: #0BBE06;
	bottom: 0;
}
.index-header .recommend:after {
	right:2.5rem;
}
.index-header .clickmap:after {
	left:2.5rem;
	display: none;
}

/*首页轮播*/
.index-slider {
	height: 17rem;
	padding: 0.7rem 0;
	background:#f1f1f1 ;
	overflow: hidden;
	/*display: none;*/
}

.swiper-container {
	width: 100%;
	/*margin: 35px 0;*/
}
.swiper-slide {
	-webkit-transition: transform 1.0s;
	-moz-transition: transform 1.0s;
	-ms-transition: transform 1.0s;
	-o-transition: transform 1.0s;
	-webkit-transform: scale(0.7);
	transform: scale(0.7);
}
.swiper-slide-active,.swiper-slide-duplicate-active {
	-webkit-transform: scale(1);
	transform: scale(1);
}
.none-effect {
	-webkit-transition: none;
	-moz-transition: none;
	-ms-transition: none;
	-o-transition: none;
}
/*.swiper-slide{
	background: #fff;
	padding:10px;
	display: block;
	border-radius: 14px;
}*/
.swiper-slide img {
	width: 100%;
	border-radius: 14px;
	display: block;
}




/*首页图标*/
.index-icon {
	/*height: 9rem;*/
	padding: 1.5rem;
	overflow: hidden;
}
.index-icon ul li {
	float: left;
	padding-right: 2rem;
	/*padding: 1rem;*/
}
.index-icon ul li:last-child {
	padding-right: 0;
}
.index-icon ul li img {
	width: 4rem;
	height: 4rem;
	display: block;
}
.index-icon ul li span {
	margin-top: 1rem;
	display: block;
	font-size: 1.1rem;
	color:#666;
	text-align: center;
}


.index-slogan {
	height: 5rem;
	padding: 0 1.5rem;
	overflow: hidden;
/*	background: red;*/
	position: relative;
}
.index-slogan h2{
	float: left;
	width: 6rem;
	height: 3rem;
	background:#FFF6EB;
	border-radius: 1rem;
	margin: 1rem 0;
}
.index-slogan h2 img {
	width: 4rem;
	margin-left: 1rem;
}
.index-slogan .line {
	display: block;
	width: 0.05rem;
	height: 2rem;
	background: #DEDEDE;
	float:left;
	margin: 1.5rem 1rem;
}
.index-scroll li {
	height: 5rem;
	line-height: 5rem;
}
.index-scroll img {
	/*width: 1rem;*/
}
.index-scroll span {
	font-size: 1.1rem;
	color:#333;
	/*line-height: 3rem;*/
}
.index-scroll span em {
	font-style: normal;
}
.icon-more {
	position: absolute;
	right:1rem;
	top:1.2rem;
	
}




.index-product-list {
	width: 100%;
}
.index-product-list li {
	display: block;
	width: 49%;
	height: 17rem;
	float:left;
}
.index-product-list li:nth-child(2n) {
	float:right;
}
.index-product-list li .product-img {
	width: 100%;
	height: 11rem;
	overflow: hidden;
}
.index-product-list li .product-img img{
	width: 100%;
	height: 100%;
}
.index-product-list li p {
	margin: 0;
	padding: 0;
}
.index-product-list li .product-name {
	color:#000;
	padding-left: 1rem;
}
.index-product-list li .product-intro {
	color:#999;
	padding-left: 1rem;
	white-space:nowrap; 
	overflow:hidden; 
	text-overflow:ellipsis;
}








/*必看景区 scenic.html
 -------------------------------*/
.scenic-item-slider {
	height: 17rem;
	background: #007AFF;
}

.scenic-item-info {
	padding: 1rem 1.5rem;
}
.scenic-item-intro {
	color:#999;
	
}
.scenic-item-status {
	display: inline-block;
	width: 4rem;
	height: 2rem;
	line-height: 2rem;
	background: #FFF6EB;
	color: #FF6A30;
	font-size: 1.2rem;
	text-align: center;
	border-radius: 1rem;
}
/*休整状态*/
.off {
	color: #999;
	background: #f4f4f4;
}
.scenic-item-name {
	font-size: 1.5rem;
	font-weight: bold;
	color:#333;
	padding-left: 1rem;
}

.scenic-item-content {
	color: #999;
	padding: .3rem 0;
}
.scenic-item-footer {
	height: 5rem;
	line-height: 5rem;
	border-top: 1px solid #f4f4f4;
	border-bottom: 1px solid #f4f4f4;
	position: relative;
}
.scenic-item-footer a{
	display: block;
	width: 50%;
	float:left;
	text-align: center;
	color: #22C41E;
}
.scenic-item-footer .line {
	display: block;
	width: 1px;
	height: 3rem;
	background: #f4f4f4;
	position: absolute;
	left: 50%;
	top: 1rem;
	z-index: 10;
}
.scenic-item-footer a img {
	display:inline-block;
	margin-right: .6rem;
	width: 2rem;
	height: 2rem;
}



/*康养医疗 yiliao.html
 ---------------------*/
.yiliao-page {
	background: #f0f0f0;
}
.slider {
	height: 18rem;
	background: gray;
}
.goon {
	position: absolute;
	right:1rem;
	top:15rem;
}
.goon img {
	width: 6rem;
	height: 6rem;
}
.yiliao-intro {
	background: #fff;
	margin-bottom: 1rem;
}

.yiliao-intro h2 {
	height: 4rem;
	line-height: 4rem;
	border-bottom:1px solid #e6e6e6;
	padding-left: 1rem;
	margin: 0;
}
.yiliao-content {
	padding: 1rem;
	font-size: 1rem;
	color: #666;
}
.yiliao-into-footer {
	height: 4rem;
	line-height: 4rem;
	padding: 0 1rem;
	/*background: red;*/
}
.yiliao-addr {
	float: left;
}
.yiliao-addr img {
	width: 1rem;
	height: 2rem;
}
.yiliao-addr span {
	margin-left: .5rem;
	font-size: 1rem;
	color: #333;
	font-weight: bold;
}
.yiliao-tel {
	display: block;
	float: right;
}
.yiliao-tel img {
	display: inline-block;
	width: 2rem;
	height: 2rem;
}


.yuyue-date {
	height: 8rem;
	background: green;
}
.doctor-list {
	
}
.doctor-item {
	height: 7rem;
	border-bottom:1px solid #e6e6e6;
	padding: 1rem;
}
.doctor-item .doctor-img {
	width: 6rem;
	height: 6rem;
	overflow: hidden;
	float: left;
	/*border:1px solid red;*/
}
.doctor-item .doctor-img img{
	width: 6rem;
	height: 6rem;
}
.doctor-item .doctor-info {
	float: left;
}
.doctor-item .doctor-info p {
	margin: 0;
	padding: 0;
}
.doctor-item .yuyue-action {
	float:right;
}
.doctor-item .yuyue-action a{
	display: block;
	width: 7rem;
	height: 3rem;
	line-height: 3rem;
	background:#22C41E ;
	color:#fff;
	border-radius: .5rem;
	text-align: center;
	font-size: 1rem;
}



/*预约挂号  yuyue.html
 -------------------------------*/
.yuyue-page {
	background: #F2F8F8;
}
.yuyue-page input{
	height: 5rem!important;
	line-height: 1rem!important;
	padding: 2rem!important;
	border-radius: .5rem!important;
	border:1px solid #e6e6e6!important;
}
.yuyue-page .am-form-group {
	margin-bottom: 1rem;
}
.yuyue-page .am-form-group label {
	color:#999;
	font-size: 1.4rem;
	line-height: 1.7rem;
}
.yuyue-page .notice img{
	display: inline-block;
	width: 1rem;
	float: left;
	margin-right: .5rem;
}
.yuyue-page .notice span{
	float: left;
	color:#999;
	font-size: 1rem;
}
.yuyue-btn {
	display: block;
	width: 100%;
	height: 4.5rem;
	line-height: 4.5rem;
	text-align: center;
	color:#fff;
	background:#22C41E ;
	border-radius: 0.5rem;
}
.yuyue-btn:active,
.yuyue-btn:focus {
	color:#fff;
}

.yuyue-status img{
	display: block;
	width: 8rem;
	height: 8rem;
	margin: 2rem auto;
}
.yuyue-status p {
	text-align: center;
	margin-top: -2rem;
	font-size: 2rem;
	color:#262626;
}
.yuyue-info li {
	clear: both;
	height: 3rem;
	line-height: 3rem;
}
.yuyue-info li span{
	color: #666;
	float: left;
}
.yuyue-info li em{
	color: #262626;
	float: right;
}
.goindex {
	background: #fff;
	border:1px solid #199116;
	color:#22C41E;
}





/*康养赵家 climate.html
 ------------------------------------*/
.climate-page {
	width: 100%;
	height: 100%;
	background: url(../images/climate_bg.png) no-repeat;
	background-size:100% 100%;
}

.climate-content {
	width: 90%;
	height: 37rem;
	color:#fff;
	background: rgba(0,0,0,.3);
	border-radius: 0.5rem;
	margin-top: 5rem;
}
.climate-title {
	font-size: 2rem;
}
.climate-list {
	padding: 0 1rem;
}
.climate-list li{
	clear: both;
	height: 5rem;
	line-height: 5rem;
	border-bottom: 1px solid #fff;
}
.climate-list li .img-box{
	width: 3rem;
	display: inline-block;
	float: left;
	margin-top: 1rem;
}

.climate-list li img{	
	display: block;
	margin: 0 auto;
	vertical-align: middle;
}
.climate-list li span {
	float: left;
	padding-left: .5rem;
}

.climate-list li:nth-child(3) img,
.climate-list li:nth-child(4) img,
.climate-list li:nth-child(5) img {
	margin-top: .5rem;
}





.climate-footer {
	text-align: center;
	color:#fff;
	font-size: 2rem;
}



/*我为你代言 daiyan.html
 -------------------------*/
.daiyan-header {
	width: 100%;
	height: 27rem;
	margin: 0;
	padding: 0;
	background: url(../images/daiyan_header_bg.png) no-repeat;
	background-size:100% 100% ;
}
.daiyan-item-tab {
	height: 5rem;
}
.daiyan-item-tab li {
	float: left;
	width: 25%;
	height: 5rem;
	line-height: 5rem;
	text-align: center;
	color:#1a1a1a;
	font-weight: bold;
	background: #f5f5f5;
	border-bottom: 2px solid #e6e6e6;
}

.daiyan-item-tab li.active {
	background: #CDFCCC;
	border-bottom-color: #47E443;
} 



/*候鸟之家 visitanthome.html
 -------------------------*/
.visitant-page {
	width: 100%;
	height: 100%;
	background: url(../images/visitant_bg.png) no-repeat;
	background-size: contain;
}
