/*我为你代言 daiyan.html
 -------------------------*/

/*代言顶部*/
.daiyan-header {
	width: 100%;
	height: 22.083333rem;
	background: #fff;
	position: relative;
}
.daiyan-header-top {
	height: 12.125rem;
	background: url(../images/daiyan_header_bg_top.png) no-repeat;
	background-size:100% 100% ;
}
.daiyan-avatar {
	width: 8.333333rem;
	height:8.333333rem;
	overflow: hidden;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -4.166666rem;
	margin-left:-4.166666rem;
}
.daiyan-avatar img{
	width: 8.333333rem;
	height:8.333333rem;
}
.daiyan-user {
	margin-top: 4rem;
	text-align: center;
}
.daiyan-user img{
	width: 1.583333rem;
	height: 1.583333rem;
}
.daiyan-user span{
	padding-left: 1rem;
	color:#000;
	font-size: 1.5rem;
	font-weight: bold;
}
.daiyan-slogan {
	margin-top: 1.166666rem;
	text-align: center;
}
.daiyan-slogan img {
	height: 1.208333rem;
}

/*代言项目*/
.daiyan-item-tab {
	height: 3.75rem;
}
.daiyan-item-tab li {
	float: left;
	width: 25%;
	height: 3.75rem;
	line-height: 3.75rem;
	text-align: center;
	color:#1a1a1a;
	font-size: 1.166666rem;
	font-weight: bold;
	background: #f5f5f5;
	border-bottom: 2px solid #e6e6e6;
}

.daiyan-item-tab li.active {
	background: #CDFCCC;
	border-bottom-color: #47E443;
} 

.daiyan-item-content {
	padding: 1rem;
}
.daiyan-item-cell {
	display: none;
}
.show {
	display: block;
}
.daiyan-item-cell a{
	display: block;
	width: 14.166666rem;
	height: 9.166666rem;
	overflow: hidden;
	float: left;
	margin-right: 0.916666rem;
	margin-bottom: 0.916666rem;
	position: relative;
}
.daiyan-item-cell a:nth-child(2n){
	margin-right: 0;
}
.daiyan-item-cell a img{
	width: 100%;
	height: 100%;
}
.daiyan-item-cell a p{
	width: 100%;
	height:1.666666rem;
	line-height: 1.666666rem;
	background: rgba(0,0,0,.5);
	font-size: 1rem;
	color: #fff;
	text-align: center;
	position: absolute;
	bottom:0;
	z-index: 10;
}
