/*首页*/
html {
	font-size: 12px;
}
.index-page {
	/*background: #f4f4f4;*/
}
.index-header {
	width: 100%;
	height: 3.333333rem;
}
.index-header p{
	display: block;
	width: 10rem;
	height: 3.333333rem;
	margin: 0 auto;
}
.index-header p a{
	display: inline-block;
	width:4.833333rem;
	float:left;
	font-size: 1.333333rem;
	text-align: center;
	font-weight: bold;
	height: 3.333333rem;
	line-height: 3.333333rem;
	position: relative;
}
.index-header a.active {
	color: #0BBE06;
}
.index-header p a:after {
	position: absolute;
	content: '';
	width: 1.166666rem;
	height: 0.25rem;
	border-radius: .5rem;
	background: #0BBE06;
	left: 50%;
	margin-left: -0.7rem;
	bottom: 0;
}
.index-header .clickmap:after {
	display: none;
}

/*首页轮播*/
.index-slider {
	width: 100%;
	height: 14.375rem;
	position: relative;
	padding: 0.541666rem 0;
	background:#f1f1f1 ;
	overflow: hidden;
}
.top-slider {
	width: 100%;
	height: 14.583333rem;
	position: relative;
	overflow: hidden;

}
.top-slider-imgbox {
	height: 14.583333rem;
}
.top-slider-imgbox li {
	width: 31.25rem;
	height:14.583333rem;	
	float:left;
}
.top-slider-imgbox li img{
	width: 100%;
	height: 100%;
}





/*首页图标导航*/
.index-icon {
	width: 100%;
	height: 7.5rem
	padding: 1rem;
	background: #fff;
	
}
.index-icon ul li {
	display: block;
	float: left;
	width: 20%;
	text-align: center;
}
.index-icon ul li:last-child {
	padding-right: 0;
}
.index-icon ul li img {
	width: 3.666666rem;
	height: 3.666666rem;
	display: block;
	margin: .5rem auto;
}
.index-icon ul li span {
	display: block;
	font-size: 1.1rem;
	color:#666;
	text-align: center;
}

/*首页 slogan*/
.index-slogan {
	height: 4.166666rem;
	padding: 0 1rem;
	overflow: hidden;
	background: #fff;
	position: relative;
	border-bottom: 10px solid #f4f4f4;
}
.index-slogan h2{
	float: left;
	width: 6.583333rem;
	height: 2.25rem;
	background:#FFF6EB;
	border-radius: 1.125rem;
	margin: 0.958333rem 0;
	font-size: 0;
}
.index-slogan h2 img {
	width: 4.5rem;
	margin-top: 0.583333rem;
	margin-left: 1.041666rem;
	vertical-align: middle;
}
.index-slogan .line {
	display: block;
	width: 0.083333rem;
	height: 1.666666rem;
	float:left;
	background: #DEDEDE;
	margin: 1.25rem .5rem;
}
.index-scroll {
	
	position: absolute;
	right:0;
	top:0;
	z-index: 10;
}
.index-scroll li {
	padding: 0 1rem;
	height: 4.166666rem;
	/*background: #00FFFF;*/
	line-height:  4.166666rem;
}
.index-scroll img {
	/*width: 1rem;*/
	height: 1.083333rem;
	margin: 1.541666rem .1rem;
	
}
.index-scroll span {
	font-size: 0.916666rem;
	color:#333;
	/*line-height: 3rem;*/
}
.index-scroll span em {
	font-style: normal;
}
.icon-more {
	position: absolute;
	right:1rem;
	top:1.2rem;
	
}

/*首页 农产品*/
.index-product-list {
	width: 100%;
}
.index-product-list li {
	display: block;
	width: 49%;
	height: 14.166666rem;
	float:left;
}
.index-product-list li:nth-child(2n) {
	float:right;
}
.index-product-list li .product-img {
	width: 100%;
	height: 8.75rem;
	overflow: hidden;
}
.index-product-list li .product-img img{
	width: 100%;
	height: 100%;
}
.index-product-list li  .product-intro {
	padding: 1rem;
}
.index-product-list li p {
	margin: 0;
	padding: 0;
	
}
.index-product-list li .product-name {
	color:#000;
	font-size: 1.083333rem;
}
.index-product-list li .product-info {
	color:#999;
	font-size: 1rem;
	white-space:nowrap; 
	overflow:hidden; 
	text-overflow:ellipsis;
}